.section-01 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;

  max-height: 800px;
  height: 100vh;
}

.section-01 .section-content {
  position: absolute;
  width: 100%;
  height: 800px;
  background: url('../images/01/01/bg.jpg');
  overflow: hidden;
}

.virus-images {
  position: inherit;
  width: 100%;
  height: 600px;
  top: 100px;
  left: 0;
}

.section-01 .title {
  position: absolute;
  padding-top: 0;
  top: calc(80px - 0.5em);
}

.section-01 .label-virus {
  transform-origin: center;
  transform: translate(-40%, 5%);
  position: absolute;
  top: calc(45% - 50px);
  left: calc(50% - 200px + 35px);
}

.section-01 .label-host-cell {
  position: absolute;
  transform-origin: center;
  left: calc(78% - 50px);
  top: 25%;
}

.section-01 .label-host-cell-with-receptor {
  position: absolute;
  transform-origin: center;
  left: calc(78% - 400px);
  top: 23%;
  width: 170px;
}

.section-01 .host-cell-with-receptor-label-arrow {
  position: absolute;
  transform-origin: center;
  left: calc(78% - 315px);
  top: 31%;
}

/* PARTICLES */

.section-01 .particle-1-01 {
  position: absolute;
  top: 20%;
  left: 5%;
}
.section-01 .particle-1-02 {
  position: absolute;
  top: 60%;
  left: 10%;
}
.section-01 .particle-1-03 {
  position: absolute;
  top: 90%;
  left: 25%;
}
.section-01 .particle-1-04 {
  position: absolute;
  top: 5%;
  left: 30%;
}
.section-01 .particle-1-05 {
  position: absolute;
  top: 15%;
  left: 55%;
}
.section-01 .particle-1-06 {
  position: absolute;
  top: 55%;
  left: 65%;
}
.section-01 .particle-1-07 {
  position: absolute;
  top: 2%;
  left: 85%;
}
.section-01 .particle-1-08 {
  position: absolute;
  top: 20%;
  left: 90%;
}
.section-01 .particle-1-09 {
  position: absolute;
  top: 60%;
  left: 85%;
}
.section-01 .particle-2-01 {
  position: absolute;
  top: 5%;
  left: 15%;
}
.section-01 .particle-2-02 {
  position: absolute;
  top: 40%;
  left: 20%;
}
.section-01 .particle-2-03 {
  position: absolute;
  top: 60%;
  left: 30%;
}
.section-01 .particle-2-04 {
  position: absolute;
  top: 30%;
  left: 80%;
}
.section-01 .particle-2-05 {
  position: absolute;
  top: 90%;
  left: 75%;
}

/* VIRUS */

.section-01 .virus-cross-section {
  opacity: 0;
  transform-origin: center;
  transform: translate(-40%, 5%) scale(0.75);
  position: absolute;
  top: calc(45% - 200px);
  left: calc(50% - 200px);
  width: 400px;
}

.section-01 .virus-zoomed {
  opacity: 0;
  transform-origin: center;
  transform: translate(-11.5%, 3%) scale(0.4);
  position: absolute;
  top: calc(45% - 200px);
  left: calc(50% - 180px);
  width: 360px;
}

.section-01 .virus-tiny {
  position: absolute;
  transform-origin: center;
  transform: translate(-35%, 15%);
  top: calc(45%);
  left: calc(50% - 200px + 35px);
}

.section-01 .virus-01 {
  position: absolute;
  top: calc(45% - 200px);
  left: calc(50% - 200px);
  width: 400px;
}

.section-01 .virus-02 {
  position: absolute;
  top: 0;
  right: 15%;

  opacity: 0.8;
}

.section-01 .virus-03 {
  position: absolute;
  bottom: 15%;
  right: 30%;

  opacity: 0.8;
}

.section-01 .virus-04 {
  position: absolute;
  top: 30%;
  left: 0;

  opacity: 0.8;
}

.section-01 .virus-05 {
  position: absolute;
  top: 45%;
  left: 25%;

  opacity: 0.8;
}

.section-01 .virus-06 {
  position: absolute;
  top: 5%;
  right: 0;

  opacity: 0.8;
}

.section-01 .virus-07 {
  position: absolute;
  bottom: 15%;
  right: 5%;

  opacity: 0.8;
}

.section-01 .virus-08 {
  position: absolute;
  bottom: 10%;
  left: 10%;

  opacity: 0.8;
}

.section-01 .virus-09 {
  position: absolute;
  top: 10%;
  left: 20%;

  opacity: 0.8;
}

.section-01 .virus-10 {
  position: absolute;
  top: 30%;
  right: 25%;

  opacity: 0.8;
}

.section-01 .virus-11 {
  position: absolute;
  top: 40%;
  right: 10%;

  opacity: 0.8;
}

.section-01 .host-cell {
  position: absolute;
  width: 750px;
  transform-origin: center;
  left: calc(78% - 375px);
  top: 10%;
}

.section-01 .host-cell-with-receptors {
  position: absolute;
  transform: translateY(-18%) scale(0.53);
  transform-origin: center;
  left: calc(78% - 375px);
  top: 10%;
  width: 750px;
}

.section-01 .description-text {
  text-align: left;
  display: inline-block;
  max-width: 600px;
  position: absolute;
  left: calc(50% - 300px);
  top: calc(80%);
  transform: translate(0, -50%);
  font-size: 1.5rem;
  line-height: 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #logo {
    width: 65px;
    top: 10px;
  }

  .section-01 h1 {
    top: calc(65px - 0.5em);
    font-size: 2rem;
  }

  .section-01 .label-virus {
    top: 38vh;
    left: 24%;
  }

  .section-01 .label-host-cell {
    left: calc(95% - 100px);
    top: 32vh;
  }

  .section-01 .label-host-cell-with-receptor {
    left: 10%;
    top: 25vh;
    width: 170px;
  }

  .section-01 .host-cell-with-receptor-label-arrow {
    left: 45%;
    top: 35vh;
    width: 85px;
  }

  .section-01 .host-cell {
    left: 45%;
    top: 20vh;
    width: 375px;
  }

  .section-01 .host-cell-with-receptors {
    left: 45%;
    top: 20vh;
    width: 375px;
  }

  .section-01 .virus-cross-section {
    top: calc(-100px + 30vh);
    left: calc(50% - 120px);
    width: 240px;
  }

  .section-01 .virus-zoomed {
    top: calc(-100px + 30vh);
    left: calc(50% - 108px);
    width: 216px;
  }

  .section-01 .virus-tiny {
    top: calc(33.15vh);
    left: calc(50% - 98px);
    width: 15px;
  }

  .section-01 .virus-01 {
    top: calc(-100px + 30vh);
    left: calc(50% - 120px);
    width: 240px;
  }

  .section-01 .description-text {
    top: calc(80vh);
    left: calc(50% - 150px);
    max-width: 300px;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
