.section-01 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;

  max-height: 800px;
  min-width: 100%;
  height: 100vh;
}

.section-01 .section-content {
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  height: 800px;

  background: url('../images/01/bg.jpg');
}

.virus-images {
  position: inherit;
  width: 100%;
  height: 600px;
  top: 100px;
  left: 0;
}

.section-01 h1 {
  position: absolute;
  top: calc(30px - 0.5em);
}

/* PARTICLES */

.section-01-particle-01 {
  position: absolute;
  top: 20%;
  left: 5%;
}

.section-01-particle-02 {
  position: absolute;
  top: 60%;
  left: 10%;
}

.section-01-particle-03 {
  position: absolute;
  top: 35%;
  left: 80%;
}

/* VIRUS */

.section-01-virus-01 {
  position: absolute;
  top: calc(45% - 200px);
  left: calc(50% - 200px);
  width: 400px;
}

.section-01-virus-02 {
  position: absolute;
  top: 0;
  right: 15%;

  opacity: 0.8;
}

.section-01-virus-03 {
  position: absolute;
  bottom: 15%;
  right: 30%;

  opacity: 0.8;
}

.section-01-virus-04 {
  position: absolute;
  top: 30%;
  left: 0;

  opacity: 0.8;
}

.section-01-virus-05 {
  position: absolute;
  top: 45%;
  left: 25%;

  opacity: 0.8;
}

.section-01-virus-06 {
  position: absolute;
  top: 5%;
  right: 0;

  opacity: 0.8;
}

.section-01-virus-07 {
  position: absolute;
  bottom: 15%;
  right: 5%;

  opacity: 0.8;
}

.section-01-virus-08 {
  position: absolute;
  bottom: 10%;
  left: 10%;

  opacity: 0.8;
}

.section-01-virus-09 {
  position: absolute;
  top: 10%;
  left: 20%;

  opacity: 0.8;
}

.section-01-virus-10 {
  position: absolute;
  top: 30%;
  right: 25%;

  opacity: 0.8;
}

.section-01-virus-11 {
  position: absolute;
  top: 40%;
  right: 10%;

  opacity: 0.8;
}

.section-01-text {
  text-align: left;
  display: inline-block;
  max-width: 600px;
  position: absolute;
  left: calc(50% - 300px);
  top: calc(80%);
  transform: translate(0, -50%);
  font-size: 1.5rem;
  line-height: 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #logo {
    width: 76px;
  }

  .section-01 h1 {
    top: calc(40px - 0.5em);
    font-size: 3rem;
  }

  .section-01-virus-01 {
    position: absolute;
    top: calc(-100px + 38vh - 60px);
    left: calc(50% - 120px);
    width: 240px;
  }

  .section-01-text {
    top: calc(80vh);
    left: calc(50% - 150px);
    max-width: 300px;
    font-size: 1.5rem;
    line-height: 21px;
  }
}
