.bg-layer-4,
.bg-layer-5 {
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;
  overflow: hidden;
}

.section-04 .title {
  position: absolute;
  padding-top: 0;
  top: 80px;
  transform: translateY(-50%);
}

.section-04 .text-1 {
  position: absolute;
  left: 50%;
  top: 80%;
}

.section-04 .call-bubble-1 {
  position: absolute;
  top: calc(50% + 15px - 160px);
  left: calc(50% - 170px + 30px);
  max-width: 100%;
}

.section-04 .call-bubble-2 {
  position: absolute;
  top: calc(50% + 10px - 180px);
  left: calc(50% + 100px + 10px);
  max-width: 100%;
}

.section-04 .dist-line {
  position: absolute;
  top: calc(40%);
  left: calc(50% - 20px);
  max-width: 100%;
}

.section-04 .girl-1,
.section-04 .girl-2 {
  position: absolute;
  top: calc(50% + 15px);
  left: 50%;
  max-width: 100%;
}

.section-04 .boy-1,
.section-04 .boy-2 {
  position: absolute;
  top: calc(50% + 10px);
  left: 50%;
  max-width: 100%;
}

.section-04 .girl-1 {
  left: calc(50% - 170px);
}

.section-04 .boy-1 {
  left: calc(50% + 100px);
}

.section-04 .girl-2 {
  left: calc(50% - 170px + 75px);
}

.section-04 .boy-2 {
  left: calc(50% + 100px - 80px);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .section-04 .title {
    top: 100px;
  }

  .bg-layer-4,
  .bg-layer-5 {
    top: 40%;
  }

  .section-04 .call-bubble-1 {
    top: calc(40% - 150px);
    left: calc(50% - 150px + 30px);
    max-width: 100%;
  }

  .section-04 .call-bubble-2 {
    top: calc(40% - 5px - 165px);
    left: calc(50% + 90px + 10px);
    max-width: 100%;
  }

  .section-04 .dist-line {
    top: calc(50% - 180px);
    left: calc(50% - 10px);
    max-width: 50%;
  }

  .section-04 .girl-1,
  .section-04 .girl-2 {
    top: 40%;
    left: 50%;
    max-width: 100%;
  }

  .section-04 .boy-1,
  .section-04 .boy-2 {
    top: calc(40% - 5px);
    left: 50%;
    max-width: 100%;
  }

  .section-04 .girl-1 {
    left: calc(50% - 150px);
  }

  .section-04 .boy-1 {
    left: calc(50% + 90px);
  }

  .section-04 .girl-2 {
    left: calc(50% - 150px + 65px);
  }

  .section-04 .boy-2 {
    left: calc(50% + 90px - 70px);
  }

  .section-04 .text-1 {
    top: 80vh;
  }
}
