.section-01 {
  top: 0;
}

.bg-layer-1 {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url('../images/01/01/bg.jpg');
  overflow: hidden;
}

.virus-images,
.host-cell-group {
  position: inherit;
  width: 100%;
  height: 600px;
  top: 100px;
  left: 0;
}

.section-01 .title {
  position: absolute;
  padding-top: 0;
  top: 80px;
  transform: translateY(-50%);
}

.section-01 .label-virus {
  position: absolute;
  top: calc(45% - 75px);
  left: 38%;
}

.section-01 .label-host-cell {
  position: absolute;
  top: calc(65% - 375px);
  left: calc(38% + 600px);
}

.section-01 .label-host-cell-with-receptor {
  position: absolute;
  left: calc(38% + 375px - 315px);
  top: calc(40% - 175px);
}

.section-01 .label-virus-envelope-fuses {
  position: absolute;
  top: 18%;
  left: calc(38% + 375px - 250px);
}

.section-01 .host-cell-with-receptor-label-arrow {
  position: absolute;
  left: calc(38% + 375px - 250px);
  top: calc(40% - 80px);
  width: 120px;
}

.section-01 .arrow-red {
  position: absolute;
  left: calc(38% + 290px);
  top: calc(40% + 15px);
  width: 70px;
}

.section-01 .host-cell {
  position: absolute;
  top: 65%;
  left: 120%;
  width: 750px;
}

.section-01 .host-cell-with-receptors-copy {
  position: absolute;
  top: 40%;
  left: 125%;
  width: 750px;
}

.section-01 .host-cell-with-receptors,
.section-01 .host-cell-fusing,
.section-01 .host-cell-fused,
.section-01 .host-cell-fused-fully,
.section-01 .host-cell-fused-zoomed {
  position: absolute;
  top: 40%;
  left: calc(38% + 375px);
  width: 750px;
}

.section-01 .host-cell-machinery-base,
.section-01 .host-cell-machinery-lever {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 750px;
  z-index: 3;
}

.section-01 .host-cell-machinery-cog-1,
.section-01 .host-cell-machinery-cog-2,
.section-01 .host-cell-machinery-cog-3,
.section-01 .host-cell-machinery-cog-4,
.section-01 .host-cell-machinery-cog-5,
.section-01 .host-cell-machinery-cog-6,
.section-01 .host-cell-machinery-cog-7,
.section-01 .host-cell-machinery-cog-8,
.section-01 .host-cell-machinery-cog-9 {
  position: absolute;
  top: 40%;
  left: 50%;
}

.section-01 .host-cell-machinery-cog-1 {
  top: calc(40% + -20px);
  left: calc(50% + 10px);
  width: 160px;
  z-index: 2;
}
.section-01 .host-cell-machinery-cog-2 {
  top: calc(40% + -82px);
  left: calc(50% + 168px);
  width: 56px;
}
.section-01 .host-cell-machinery-cog-3 {
  top: calc(40% + 10px);
  left: calc(50% + 110px);
  width: 155px;
}
.section-01 .host-cell-machinery-cog-4 {
  top: calc(40% + 50px);
  left: calc(50% + -80px);
  width: 131px;
}
.section-01 .host-cell-machinery-cog-5 {
  top: calc(40% + -82px);
  left: calc(50% + 168px);
  width: 124px;
}
.section-01 .host-cell-machinery-cog-6 {
  top: calc(40% + 18px);
  left: calc(50% + 228px);
  width: 94px;
}
.section-01 .host-cell-machinery-cog-7 {
  top: calc(40% + -80px);
  left: calc(50% + 60px);
  width: 45px;
}
.section-01 .host-cell-machinery-cog-8 {
  top: calc(40% + -108px);
  left: calc(50% + 0px);
  width: 94px;
}
.section-01 .host-cell-machinery-cog-9 {
  top: calc(40% + -30px);
  left: calc(50% + -150px);
  width: 94px;
}

/* VIRUS */

.section-01 .virus-cross-section {
  position: absolute;
  top: 50%;
  left: 41.25%;
  width: 400px;
}

.section-01 .virus-zoomed {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(41.25% + 118px);
  width: 360px;
}

.section-01 .virus-tiny {
  position: absolute;
  top: 45%;
  left: 38%;
  width: 60px;
  z-index: 1;
}

.section-01 .virus-tiny-1,
.section-01 .virus-tiny-2,
.section-01 .virus-tiny-3,
.section-01 .virus-tiny-4,
.section-01 .virus-tiny-5 {
  position: absolute;
  top: calc(40% + 75px);
  left: calc(38% + 135px);
  width: 30px;
  z-index: 1;
}

.section-01 .baby-virus {
  position: absolute;
  top: 57%;
  left: 52%;
  width: 30px;
  z-index: 1;
}

.section-01 .rna {
  position: absolute;
  top: 42%;
  left: 38.5%;
  width: 120px;
  clip: rect(0px 0px 30px 0px);
  z-index: 1;
}

.section-01 .virus-01 {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 400px;
}
.section-01 .virus-02 {
  position: absolute;
  top: 0;
  right: 15%;
  opacity: 0.8;
}
.section-01 .virus-03 {
  position: absolute;
  bottom: 15%;
  right: 30%;

  opacity: 0.8;
}
.section-01 .virus-04 {
  position: absolute;
  top: 30%;
  left: 0;
  opacity: 0.8;
}
.section-01 .virus-05 {
  position: absolute;
  top: 45%;
  left: 25%;
  opacity: 0.8;
}
.section-01 .virus-06 {
  position: absolute;
  top: 5%;
  right: 0;
  opacity: 0.8;
}
.section-01 .virus-07 {
  position: absolute;
  bottom: 15%;
  right: 5%;
  opacity: 0.8;
}
.section-01 .virus-08 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  opacity: 0.8;
}
.section-01 .virus-09 {
  position: absolute;
  top: 10%;
  left: 20%;
  opacity: 0.8;
}
.section-01 .virus-10 {
  position: absolute;
  top: 30%;
  right: 25%;
  opacity: 0.8;
}
.section-01 .virus-11 {
  position: absolute;
  top: 40%;
  right: 10%;
  opacity: 0.8;
}

/* PARTICLES */

.section-01 .particle-1-01 {
  position: absolute;
  top: 20%;
  left: 5%;
}
.section-01 .particle-1-02 {
  position: absolute;
  top: 60%;
  left: 10%;
}
.section-01 .particle-1-03 {
  position: absolute;
  top: 90%;
  left: 25%;
}
.section-01 .particle-1-04 {
  position: absolute;
  top: 5%;
  left: 30%;
}
.section-01 .particle-1-05 {
  position: absolute;
  top: 15%;
  left: 55%;
}
.section-01 .particle-1-06 {
  position: absolute;
  top: 55%;
  left: 65%;
}
.section-01 .particle-1-07 {
  position: absolute;
  top: 2%;
  left: 85%;
}
.section-01 .particle-1-08 {
  position: absolute;
  top: 20%;
  left: 90%;
}
.section-01 .particle-1-09 {
  position: absolute;
  top: 60%;
  left: 85%;
}
.section-01 .particle-2-01 {
  position: absolute;
  top: 5%;
  left: 15%;
}
.section-01 .particle-2-02 {
  position: absolute;
  top: 40%;
  left: 20%;
}
.section-01 .particle-2-03 {
  position: absolute;
  top: 60%;
  left: 30%;
}
.section-01 .particle-2-04 {
  position: absolute;
  top: 30%;
  left: 80%;
}
.section-01 .particle-2-05 {
  position: absolute;
  top: 90%;
  left: 75%;
}

.section-01 .text-1,
.section-01 .text-2,
.section-01 .text-3,
.section-01 .text-4,
.section-01 .text-5,
.section-01 .text-6 {
  position: absolute;
  left: 50%;
  top: 80%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .section-01 .title {
    top: 100px;
  }

  .section-01 .label-virus {
    top: calc(45% - 50px);
    left: 25%;
  }

  .section-01 .label-host-cell {
    top: calc(50% - 190px);
    left: calc(25% + 200px);
  }

  .section-01 .label-host-cell-with-receptor {
    left: calc(25% + 190px - 175px);
    top: calc(40% - 100px);
  }

  .section-01 .label-virus-envelope-fuses {
    top: calc(50% - 200px);
    left: calc(25% + 190px - 100px);
  }

  .section-01 .host-cell-with-receptor-label-arrow {
    left: calc(25% + 190px - 125px);
    top: calc(40% - 40px);
    width: 60px;
  }

  .section-01 .arrow-red {
    position: absolute;
    left: calc(30% + 150px);
    top: calc(30% + 8px);
    width: 35px;
  }

  .section-01 .host-cell {
    top: 50%;
    left: 120%;
    width: 375px;
  }

  .section-01 .host-cell-with-receptors-copy {
    top: 30%;
    left: 120%;
    width: 375px;
  }

  .section-01 .host-cell-with-receptors,
  .section-01 .host-cell-fusing,
  .section-01 .host-cell-fused,
  .section-01 .host-cell-fused-fully,
  .section-01 .host-cell-fused-zoomed {
    top: 40%;
    left: calc(25% + 190px);
    width: 375px;
  }

  .section-01 .host-cell-machinery-base,
  .section-01 .host-cell-machinery-lever {
    position: absolute;
    top: 30%;
    left: 63%;
    width: 375px;
  }

  .section-01 .host-cell-machinery-cog-1 {
    top: calc(30% + -10px);
    left: calc(63% + 5px);
    width: 80px;
  }
  .section-01 .host-cell-machinery-cog-2 {
    top: calc(30% + -41px);
    left: calc(63% + 83px);
    width: 28px;
  }
  .section-01 .host-cell-machinery-cog-3 {
    top: calc(30% + 4px);
    left: calc(63% + 55px);
    width: 77.5px;
  }
  .section-01 .host-cell-machinery-cog-4 {
    top: calc(30% + 20px);
    left: calc(63% + -35px);
    width: 65.5px;
  }
  .section-01 .host-cell-machinery-cog-5 {
    top: calc(30% + -41px);
    left: calc(63% + 83px);
    width: 62px;
  }
  .section-01 .host-cell-machinery-cog-6 {
    top: calc(30% + 10px);
    left: calc(63% + 114px);
    width: 47px;
  }
  .section-01 .host-cell-machinery-cog-7 {
    top: calc(30% + -40px);
    left: calc(63% + 30px);
    width: 22.5px;
  }
  .section-01 .host-cell-machinery-cog-8 {
    top: calc(30% + -15px);
    left: calc(63% + -75px);
    width: 47px;
  }
  .section-01 .host-cell-machinery-cog-9 {
    top: calc(30% + -50px);
    left: calc(63% + 0px);
    width: 47px;
  }

  .section-01 .virus-cross-section {
    top: 41%;
    width: 240px;
  }

  .section-01 .virus-zoomed {
    top: calc(41% - 17px);
    left: calc(41.25% + 70px);
    width: 216px;
  }

  .section-01 .virus-tiny {
    top: 45%;
    left: 25%;
    width: 30px;
  }

  .section-01 .virus-tiny-1,
  .section-01 .virus-tiny-2,
  .section-01 .virus-tiny-3,
  .section-01 .virus-tiny-4,
  .section-01 .virus-tiny-5 {
    top: calc(30% + 40px);
    left: calc(30% + 60px);
    width: 15px;
  }

  .section-01 .baby-virus {
    top: 34%;
    left: 68%;
    width: 15px;
  }

  .section-01 .rna {
    top: 31%;
    left: calc(41.25% + -3px);
    clip: rect(0px 0px 30px 0px);
    width: 60px;
  }

  .section-01 .virus-01 {
    top: 40%;
    left: 50%;
    width: 240px;
  }

  .section-01 .text-1,
  .section-01 .text-2,
  .section-01 .text-3,
  .section-01 .text-4,
  .section-01 .text-5,
  .section-01 .text-6 {
    top: calc(80vh);
    max-width: 300px;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
