/* :root {
  --animation-time: 20s;
}

.spin-slower {
  -webkit-animation: spin calc(var(--animation-time) / 0.3) linear infinite;
  -moz-animation: spin calc(var(--animation-time) / 0.3) linear infinite;
  animation: spin calc(var(--animation-time) / 0.3) linear infinite;
}

.spin-slow {
  -webkit-animation: spin calc(var(--animation-time) / 0.6) linear infinite;
  -moz-animation: spin calc(var(--animation-time) / 0.6) linear infinite;
  animation: spin calc(var(--animation-time) / 0.6) linear infinite;
}

.spin-normal {
  -webkit-animation: spin var(--animation-time) linear infinite;
  -moz-animation: spin var(--animation-time) linear infinite;
  animation: spin var(--animation-time) linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} */
